<div id="call_{{ index }}" class="request {{ call.request.method|lower }}">
    <div class="status icon {% if call.error %}error{% else %}success{% endif %}"></div>

    <div class="connect-profiler-summary">
        <h3>
            <span class="method">{{ call.request.method }}</span>
            <span class="time">&nbsp{{ _self.formatDuration(call.time.total ?: 0) }}</span
            <span class="path">&nbsp{{ call.request.path }}</span>
        </h3>
        <div class="code">
            <abbr title="{{ call.response.reasonPhrase }}">{{ call.response.statusCode }}</abbr>
        </div>
    </div>

    <div class="details">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#request_{{ index }}" data-toggle="tab">Request</a>
            </li>
            <li>
                <a href="#response_{{ index }}" data-toggle="tab">Response</a>
            </li>
        </ul>

        <div class="tab-content">
            {% include '@ConnectSDK/Profiler/request.html.twig' with {'index':index, 'request': call.request, 'requestContent': call.requestContent, 'time': call.time} %}
            {% include '@ConnectSDK/Profiler/response.html.twig' with {'index':index, 'response':call.response, 'responseContent': call.responseContent, 'time': call.time} %}
        </div>

        <div class="progress-striped" style="text-align:center;background-color:#ddd;margin:5px 0 30px 0;padding: 0;font-variant:small-caps;">
            <div class="bar">
                <a  style="display:block;text-decoration:none;" href="#call_{{ index }}" title="top">back to top</a>
            </div>
        </div>
    </div>
</div>

{% macro formatDuration(duration) %}
    {% if duration > 1 %}
        {{ duration | round(2) }} s
    {% else %}
        {{ (duration * 1000) | round }} ms
    {% endif %}
{% endmacro %}
